<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="NumberServer" type="Adf.Config.IpGroupSection,Adf"/>
  </configSections>
  <appSettings>
    <!-- LOGS -->
    <add key="Log:Disabled" value="NumberServerClient"/>
    <add key="Log:FlushInterval" value="10"/>
    <add key="Log:Path" value="c:\logs\Adf.NumberServerTest\"/>
  </appSettings>
  <NumberServer>
    <add ip="127.0.0.1" port="6224"/>
  </NumberServer>
</configuration>