<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Service Port 服务端口 -->
    <add key="Port" value="6224"/>
    <add key="Ip" value="*"/>

    <!--
      高可用配置，Master/Slave configuration , see：
      http://www.aooshi.org/adf/517.html
      
    <add key="HA:Node1" value="192.168.199.14:6225"/>
    <add key="HA:Node2" value="192.168.199.13:6225"/>
    <add key="HA:Node3" value="192.168.199.12:6225"/>
    <add key="HA:Keepalive" value="5"/>
    <add key="HA:ElectTimeout" value="5"/>
    <add key="HA:Path" value="c:\data\numberserver\"/>
    
    -->
    
    <!-- Data Save -->
    <add key="DataPath" value="c:\data\numberserver\"/>


    <!-- 数据日志轮转阀值，默认 256, 允许：100-1024, 单位:mb -->
    <!--<add key="JournalRotate" value="256"/>-->
    <!-- 数据日志存储位置，默认 disk, 允许：disk, memory  -->
    <!--<add key="Journal" value="disk"/>-->
    
    <!-- LOGS -->
    <!--<add key="Log:Disabled" value="all"/>-->
    <add key="Log:FlushInterval" value="10"/>
    <add key="Log:Path" value="c:\logs\numberserver\"/>

  </appSettings>
  <startup>
    
  </startup>
</configuration>
